/* utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif; 
}
.nav{
    display: inline-block;
}

.nav ul li{
    display: inline-block;
    margin: 0 15px;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}
.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.text-right{
    text-align: right;
}

.float{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.btn{
    text-decoration: none;
    border-radius: 1px;
    padding: 5px 15px;
}

.btn-bluewhite{
    background-color: blue;
    color: white;
}
.big-container{
    max-width: 80%;
    margin: 0 auto;
}
/* header */
.top-header{
    height: 100px;
    line-height: 100px;
}
.sx-col{
    padding-left: 15px;
}

.sx-col img{
    vertical-align: middle;
}

.dx-nav .btn.btn-bluewhite{
    color: white;
}
/* main */

.hero-section{
    background-color: rgb(180 208 232);
    padding-top: 100px;
}
.big-container{
    height: 80vh;
}

.big-container h1{
    font-size: 4em;
}

.col-section{
    margin-top: 30px;
}

.col-section .w-40 p{
    margin: 20px 0;
}

.w-60 img{
    padding-top: 20px;
    width: 110%;
}