/* utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif; 
}
.nav{
    display: inline-block;
}

.nav ul li{
    display: inline-block;
    margin: 0 15px;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.text-right{
    text-align: right;
}

.float{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.btn{
    text-decoration: none;
    border-radius: 1px;
    padding: 5px 15px;
}

.btn-bluewhite{
    background-color: rgb(9 96 255);
    color: white;
}

.center-button{
   padding: 5px 30px;
    margin-bottom: 20px;
}
.big-container{
    max-width: 80%;
    margin: 0 auto;
}

.mid-container{
    width: 70%;
    margin: 0 auto;
}

.spacing{
    padding: 10px 0;
}

.bottom-spacing{
    margin-bottom: 30px;
}

.top-spacing{
    margin-top: 30px;
}

.little-hr{
    width: 30%;
}
/* header */
.top-header{
    height: 100px;
    line-height: 100px;
}
.sx-col{
    padding-left: 15px;
}

.sx-col img{
    vertical-align: middle;
}

.dx-nav .btn.btn-bluewhite{
    color: white;
}
/* main */
/* hero section */
.hero-section{
    background-color: rgb(180 208 232);
    padding-top: 100px;
}
.big-container{
    height: 80vh;
}

.big-container h1{
    font-size: 4em;
}

.col-section{
    margin-top: 30px;
}

.col-section .w-40 p{
    margin: 20px 0;
}

.w-60 img{
    padding-top: 20px;
    width: 110%;
}
/* plan section */
.plan-section{
    margin-top: 300px;
}

.mid-container h2{
    font-size: 2.5em;
    margin-bottom: 20px;
}
.mid-container .button{
    margin-bottom: 50px;
}
.mid-container .button label{
    padding-right: 30px;
    margin: 20px 0;
}
/* colonne piani */
.col-plan{
    margin-bottom: 30px;
}
.col-plan .w-30{
    border: 1px solid grey; 
}
.col-plan .w-30.center{
    margin: 0 45px;
}
.col-plan .w-30 .plan-utent{
    border: 1px solid grey;
    text-align: center;
    padding: 5px 0;
}

.col-plan .w-30 .top-column,.bottom-column{
    padding: 20px 20px;
    /* border: 1px solid grey; */
}

.col-plan .w-30 .top-column .top-column-bottom{
    padding-top: 30px;
}
/* horizontal column */

.horizontal-column .utent{
    text-align: center;
    border: 1px solid grey;
    padding: 5px 0;
}
.horizontal-column .info{
    padding: 20px 20px;
    position: relative;
    border: 1px solid grey;
}
.horizontal-column .info a{
    position: absolute;
    top: 0;
    right: 0%;
    margin-top: 35px;
    margin-right: 20px;
}